﻿
@{
    ViewBag.Title = "Controlpanel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>*@

<div>
    @for (int i = 0; i < 6; i++)
    {
        <br />
    }
    <div class="text-center">
        <div style="margin:auto">



            <div class="text-center" style="margin:auto">
                <h4 style="font-family:Tahoma;font-size:xx-large;color:#0094ff">به کنترل پنل مدیریت گام خوش آمدید</h4>
            </div>
            <br />
            <br />

        </div>
    </div>
</div>




